*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.625;
    margin: 0;
    color: #6F6F6F;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color .3s;
}

img {
    max-width: 100%;
    height: auto;
}

.header {
    background: 
        linear-gradient(180deg, rgba(0, 0, 0, 0.92), rgba(54, 54, 54, 0.5) 39.24%, rgba(28, 28, 28, 0.4)), 
        url(img/eggs.jpg) center center / cover no-repeat;
    color: #FFF;
}

.topbar {
    padding: 18px 20px;
    font-size: .875rem;
    text-transform: uppercase;
    text-align: center;
}

.menu-item:hover {
    color: #C89446;
}

.logo {
    margin-bottom: 15px;
}

.menu-item {
    display: inline-block;
    margin: 0 15px;
}

.baseline {
    padding: 50px 0 70px 0;
    text-align:center;
    line-height: 1;
}

.baseline-welcome {
    font-family: 'Pinyon Script', serif;
    color: #C89446;
    display: block;
    font-size: 2.2rem;
}

.baseline-name {
    display: block;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 5px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.baseline-slogan {
    font-size: 1rem;
    font-weight: 300;
    display: block;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.menu-button {
    border: solid 1px #C89446; 
    padding: 7px 10px;
    transition-property: color, background-color;
    margin-top: 5px;
}

.menu-button:hover {
    background: #C89446;
    color: #FFF;
}

.home-section {
    padding-top: 9px;
}

.container-small {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 960px;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1150px;
}

.block {
    margin-bottom: 50px;
}

.title {
    font-size: 1.75rem;
    line-height: 1.1;
    letter-spacing: 2px;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    margin: 1rem 0 0 0;
}

.title span {
    font-family: 'Pinyon Script', serif;
    color: #C89446;
    font-size: 2.5rem;
    display:block;
    text-transform: none;
}

.title::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 2px;
    background: #C89446;
    margin-bottom: .5rem;
}

.more {
    color: #C89446;
}

.more:hover {
    text-decoration: underline;
}

.more::after {
    content: ' >';
}

.block-img {
    max-width: 350px;
    margin: 0 auto;
    border: solid 1px #C89446;
}

.block-img img {
    display: block;
}

.block-img img {
    position: relative;
    z-index: 1;
}

.block-centered {
    text-align: center;
}

.block-centered .block-body {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
}

.ingredients-menu {
    margin: 40px 0;
    font-weight: 600;
    color: #383838;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
}

.ingredients-menu a {
    display: inline-block;
    margin: 0 5px;
    position: relative;
}

.ingredients-menu a::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    height: 1px;
    opacity: 0;
    background: #C89446;
    transition: .3s;
}

.ingredients-menu .active::after, .ingredients-menu a:hover::after {
    bottom: 0;
    opacity: 1;
}

.menu-summary-item {
    position: relative;
    padding-left: 120px;
    margin-bottom: 30px;
}

.menu-summary-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
}

.menu-summary-title {
    font-size: 1.125rem;
    color: #383838;
    font-weight: bold;
    padding-bottom: 0.75rem;
    margin-bottom: 0;
}

.menu-summary p {
    margin: 0;
    padding-bottom: 1rem;
    font-size: 0.875rem;
}

.menu-summary-price {
    font-family: 'Pinyon Script', serif;
    color: #C89446;
    font-size: 2.5rem;
    line-height: 1;
}


@media only screen and (min-width: 600px) {
    html {
        font-size: 16px;
    }
    body {
        background: 
            linear-gradient(to top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)),
            url(screenshot.png) top center no-repeat;
    }
    .logo {
        margin-bottom: 0;
    }
    .topbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1150px;
        margin: 0 auto;
    }
    .baseline {
        padding: 125px 0 230px;
    }
    .baseline-slogan {
        font-size: 1.5rem;
    }
    .baseline-name {
        font-size: 4.375rem;
        letter-spacing: 12px;
        padding-top: 8px;
        padding-bottom: 18px;
    }
    .baseline-welcome {
        font-size: 3.75rem;
    }
    .menu-button {
        margin-top: 0;
        margin-right: 0;
    }
}

@media only screen and (min-width: 800px) {
    .block {
        margin-bottom: 100px;
    }

    .block-last {
        margin-bottom: 60px;
    }

    .block-left, .block-right {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .block-img {
        border: none;
        position: relative;
    }

    .block-left .block-body, .block-right .block-body {
        width: 445px;
        flex: none;
    }

    .block-img::before {
        content: '';
        display: block;
        border: solid 1px #C89446;
        position: absolute;
        top: -30px;
        left: -30px; 
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    .block-right .block-img::before {
        left: auto;
        right: -30px;
    }

    .block-left .block-img {
        margin-left: 30px;
    }

    .block-right .block-img {
        margin-right: 30px;
    }

    .block-left .block-body {
        margin-left: 20px;
    }

    .block-right .block-body {
        margin-right: 20px;
        order: -1;
    }

    .title {
        margin-bottom: 1.2rem;
    }

    .title::before {
        margin-bottom: 10px;
    }

    .more {
        display: block;
        margin-top: 1.3rem;
    }

    .home-section {
        background: 
            fixed top 95px right 0px url(img/oranges.jpg) no-repeat,
            fixed top 640px left 0px url(img/spices.jpg) no-repeat;
    }

    .ingredients-menu a {
        margin: 0 32px;
    }

    .menu-summary {
        position: relative;
        padding: 85px 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        background: #FFF;
    }

    .menu-summary-item {
        padding-left: 192px;
        margin-bottom: 110px;
        width: calc(50% - 40px);
    }

    .menu-summary-item:nth-child(even) {
        text-align: right;
        padding-left: 0;
        padding-right:  192px;
    }

    .menu-summary-item:nth-child(even) .menu-summary-img {
        left: auto;
        right: 0;
    }

    .menu-summary-item:nth-child(even) .menu-summary-price {
        margin-left: auto;
    }

    .menu-summary-img {
        width: 160px;
    }

    .menu-summary-title {
        margin-top: 0;
        line-height: 1.2;
        background: #FFF;
    }

    .menu-summary p {
        background: #FFf;
    }

    .menu-summary-price {
        padding-top: 4px;
        width: 85px;
        background: #FFF;
    }

    .menu-summary::before {
        content:'';
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        width: 420px;
        height: 420px;
        border: solid 1px #C89446;
        transform: translate(-50%, -260px) rotate(45deg);
    }
}